/* ====================================== */
/* ====== CHAKRA CSS TEMPLATE FILE ====== */
/* ====================================== */

/* ====================================== */
/* ========= MAIN PROPERTIES ============ */
body
{ 
	background: #D8D8D8;
	margin: 0 auto;
	width: 640px;
	min-width: 640px;
	padding: 0;
	font-family: "Georgia", serif;
}

img
{
	border: none;
}

/* ====================================== */
/* ========== HTML ELEMENTS ============= */
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }
p { }
span { }

/* ====================================== */
/* ========== HTML 5 ELEMENTS =========== */
header, footer, aside, nav, article, section {
	display: block;
}

/* ====================================== */
/* =========== NAVIGATION BAR =========== */
#navigation
{
	display: block;
	width: 100%;
	background: #6E6E6E;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}	
	#knavbar {
		display: table;
		width: 640px;
		margin: 0 auto;
	}

.topNav {
	width: 30px;
	height: 30px;
}

.floatLeft {
	float: left;
	margin-left: 5px;
}

.floatRight {
	float: right;
	margin-right: 5px;
}

/* ====================================== */
/* =========== MIDDLE SECTION =========== */
#middle
{
	display: block;
	padding: .5em 0 .5em 0;
	background: #BDBDBD;
}

#middle header {
	text-align: center;
	font-size: 1.4em;
	margin: 5px 0 5px 0;
	padding-bottom: 2px;
}

	.middleRow ul { 
		display: table; 
		margin: 0 auto;
		padding: 0;
		background: #BDBDBD;
	}
	.middleRow ul li {
		display: table-cell;
		text-align: center;
		margin: 0;
		border: 3px solid #BDBDBD;
	}
	.middleRow ul li a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: #000;
		padding: 0.4em;
	}
	.middleRow ul li a img {
		width: 120px;
	}
	.middleRow ul li:hover {
		text-decoration: underline;
		border: 3px solid #424242;
	}	

/* ====================================== */
/* ============ ADMIN SECTION =========== */
#admin {
	display: block;
	background: #4080c0;
	width: 100%;
	margin: 0 auto;
}

#admin ul {
	display: table;
	list-style: none;
	margin: 0 auto;
	padding: .5em 0 .5em 0;
}

#admin ul li {
	display: table-cell;
	text-align: center;
	padding: 0.2em 2em 0.2em 2em;
}

#admin ul li a
{
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
#admin ul li a:hover {
	text-decoration: underline;
}
#admin p {
	line-height: 0;
}

#admin img
{
	height: 50px;
	width: auto;
}

/* ====================================== */
/* ====== INDIVIDUAL GRADE SECTION ====== */
#curriculum
{
	text-align: right;
	padding: 3px;
	background: #ccc;
	margin: 0px 0 5px 0;
}

#weekSelectInput {
	text-align: center;
	border-bottom: 1px solid #666;
	padding: 5px 0 5px 0;
}

	#weekSelect {
		list-style: none;
		text-align: center;
	}

.lesson {
	border-top: 1px solid #666;
	padding: 1em;
	margin: 5px 0 5px 0;
}

	.lessonName { 
		text-decoration: none;
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;
		margin-bottom: 1em;
	}
	.lesson img {
		display: block;
		margin: 0 auto;
		padding: 5px;
		border: 1px solid #aaa;
		background: #ddd;
	}

.menuSelectType {
	margin: 0;
	padding: 0;
	text-align: center;
}
.menuSelectType li {
	list-style: none;
	display: inline;
}
