body
{ 
	background: #D8D8D8;
	margin: 0;
	padding: 0;
}

img
{
	border: none;
}

#page_container {
	width: 100%;
}

#navigation
{
	width: 640px;
	background: #6E6E6E;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
	margin: 0 auto;
}	

.top-nav {
	width: 30px;
	height: 30px;
}

.left-float {
	float: left;
	margin-right: 3px;
}

.right-float {
	float: right;
	margin-left: 3px;
}

.clear-float {
	clear: both;
	line-height: 0px;
}

#month
{
	vertical-align: middle;
	float: right;
}

#grades
{
	width: 640px;
	padding: .5em 0 .5em 0;
	margin: 0 auto;
	background: #BDBDBD;
}

#grades ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#grades p {
	line-height: 0;
}

#grades ul li
{
	float: left;
	width: 160px;
	text-align: center;
}

#grades ul li a
{
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #000000;
	margin: .2em 0 .2em 0;
}

#grades ul li img
{
	border: none;
	width: 120px;
}

#grades li:hover {
	text-decoration: underline;
	outline-width: 3px;
	outline-style: solid;
	outline-color: #424242;
}

#subjects
{
	width: 640px;
	margin: 0 auto;
}

#subjects ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	background: #BDBDBD;
	float: left;
	width: auto;
}

#subjects ul li
{
	float: left;
}

#subjects ul li a
{
	line-height: 2em;
	width: 160px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	float: left;
	color: #000000;
	height: 9.5em;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
}

#subjects ul li img
{
	border: none;
	width: 120px;
}

#subjects a:hover {
	text-decoration: underline;
	outline-width:3px;
	outline-style:solid;
	outline-color: #424242;
}

#week_select
{
	list-style: none;
	display: inline;
}

#week_select li
{
	float: left;
	font-weight: bold;
	line-height: 2em;
}
	
#week_select li a
{
	text-decoration: none;
	text-align: center;
	float: left;
	color: #000000;
}

#week_select a:hover
{
	text-decoration: underline;
	background: #BDBDBD;
}

#week_select a.selected
{
	text-decoration: underline;
	background: #BDBDBD;
}

#lessonname
{ 
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

#weeks
{
	list-style: none;
	background:#BDBDBD;
	float: left;
	width: 100%;
	font-weight: bold;
}

.preview
{
	width: 250px;
}

#weeks li
{
	float:left;
}

.icon
{
	width: 40px
}


#weeks li a
{
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	float: left;
	color: #000000;
	padding-top: 0.2em;
	padding-right: 0.2em;
	padding-left: 0.2em;
}

#weeks a:hover {
	text-decoration: underline;
	background: #BDBDBD;
}

#weeks a.selected {
	text-decoration: underline;
	background: #BDBDBD;
}

.weeklist
{
	background:#6E6E6E;
	width: 100%;
}

.lessonlist a
{
	width: 280px;
	height: 220px;
	margin-top: 1em;
}

.lessonlist a:hover {
	text-decoration: underline;
	outline-width:3px;
	outline-style: solid;
	outline-color: #424242;
}

#admin {
	background: #4080c0;
	width: 640px;
	margin: 0 auto;
}

#admin ul
{
	list-style: none;
	margin: 0;
	padding: .5em 0 .5em 0;
}

#admin ul li
{
	float: left;
	width: 210px;
	text-align: center;
}

#admin ul li a
{
	height: 5.5em;
	width: 210px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #000000;
}

#admin p {
	line-height: 0;
}

#admin img
{
	height: 50px;
	width: auto;
}

#curriculum
{
width: auto;
text-align: center;
float:right;
background:#BDBDBD;
padding: 3;
}

#grade-menu
{
list-style: none;
padding: 0;
margin: 0;
background: #585858;
float:left;
width:100%;
}

#grade-menu li
{
float: left;
}

#grade-menu li a
{
height: 7%;
width: 7em;
text-decoration: none;
text-align: center;
font-weight: bold;
float: left;
color:#000000;
}

#grade-menu a:hover {
text-decoration: underline;
}

#grade-menu a.selected {
text-decoration: underline;
}
