body {
   width: 60%; 
   padding-left: 15%;
}

#header {
background-color:transparent;
height:140px;
position:relative;
width:100%;
}
#headerBg {
background-image:url(../assets/images/web-bg.png);
background-repeat:no-repeat;
height:120px;
}
#header ul {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
background-color:#EEF7FB;
border:1px solid black;
bottom:0;
position:absolute;
width:100%;
}
#header ul li {
display:inline;
list-style-type:none;
padding:5px;
}

#header ul li a {
text-decoration:none;
}

#intro {
    width: 100%;
    float: left;
    padding-top: 40px;
}

#introText {
    display: inline;
    width: 60%;
    float: left;
}

#monkeyHolder {
    display: inline;
    width: 20%; 
    float: left;
}

#demos {
    width: 100%;
    float: left;
}

#demos img {
border:1px solid black;
padding-left:10px;
padding-right:10px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
margin: 10px;
}

#footer {
    padding-top: 50px;
    font-size: smaller;
    width: 100%;
    float: left;
}