body {
padding-left:15%;
width:70%;
}
#header {
background-color:transparent;
height:140px;
position:relative;
width:100%;
}
#headerBg1 {
display:inline;
float:left;
margin-left: 3%;
}
/*#headerBg2{    
display:inline;
float:left;
margin-left: 10%;
}*/
#header ul {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
background-color:#EEF7FB;
border:1px solid black;
/*bottom:0;
position:absolute;*/
width:95%;
float:left;
}
#header ul li {
display:inline;
list-style-type:none;
padding:10px;
}
#header ul li a {
text-decoration:none;
}
#intro {
float:left;
padding-top:10px;
width:100%;
}
#introText {
display:inline;
float:left;
width:70%;
margin-right: 2%;
}
#introText a {
text-decoration:none;
}
#blurb{
    font-size:larger;
    font-weight:bolder;
}
#imgHolder {
display:inline;
float:left;
width:20%;
margin-top: 5%;
}
#demos {
float:left;
width:100%;
}
#demos .imgs {
margin-left:5%;
margin-right:5%;
width:100%;
}
#demos img {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
border:1px solid black;
margin:5px;
padding-left:5px;
padding-right:5px;
}
#footer {
float:left;
font-size:smaller;
padding-top:50px;
width:100%;
}