/* import nepal's Themeroller theme */
@import url(./ui.base.css);
@import url(./theme/jquery-ui-1.7.2.custom.css);
@import url(./ui.dialog.css);
@import url(./ui.kFooter.css);
@import url(./ui.resizable.css);
@import url(./ui.feedback.css);

/*  special hack for the curren karma-loader notification  */
@media screen {
	#karma-loader{
		position:fixed;
		top:0;
		left:0;
		padding: 2px 2px 1px 5px;
		font-family: arial;
		font-size: 12px;
		background: #0066cc;
		color: #ffffff;
		
	}
	#karma-loader.status{
		
		left:110px;
		
	}
}

body{
    margin:0px;
}



#kHeader{
    background-image: url('./epaath_images/bg_header.png');
    background-repeat: repeat-x;
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0em;
}

	#kHeader .left{
    		 float: left;
	}

	#kHeader .right{
    		 float: right;
	}

	#kHeader>div{
		display:inline;
		margin-left: 0.2em;
		margin-right:0.2em
	}

	#kHeader .kHeaderBtn{
  		 width: 60px;
		 height: 60px;
		 margin-top: 12px;
		 cursor:pointer;
	}
	
	#kHeaderBackBtn>a>div{
		background-image:url(./epaath_images/btn_back.png);
	}		

	#kHeaderBackBtn>a>div:hover{
		background:url('./epaath_images/btn_back_hover.png');
	}

	#kHeaderBackBtn>a>div{
		background-image:url(./epaath_images/btn_back.png);
	}

	#kHeaderBackBtn>a>div:hover{
		background:url('./epaath_images/btn_back_hover.png');
	}

	#kHeaderHelpBtn>a>div{
		background-image:url(./epaath_images/btn_help.png);
	}

	#kHeaderHelpBtn>a>div:hover{
		background:url(./epaath_images/btn_help_hover.png);
	}

	#kHeaderOleBtn>a>div{
	    background-image:url(./epaath_images/btn_ole.png);
	}

	#kHeaderOleBtn>a>div:hover{
	    background:url(./epaath_images/btn_ole_hover.png);
	}

	
#kHeaderLessonTitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 2em;
    margin-top: 22px;
    border:0.2em solid black;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    -moz-border-radius:1.3em;
    -webkit-border-radius: 1.3em;
}

.ui-dialog{
    font-size:smaller;
}

.ui-dialog-titlebar-close.ui-corner-all{
 height:48px;
 width: 48px;
 top: 0%;
}
