#kDoc{
    background-color: white;
}

#zoomIn{
    background-image: url(epaath_images/btn_plus.png);
}

#zoomOut{
    background-image: url(epaath_images/btn_minus.png);
}

#zoomIn:hover{
    background-image: url(epaath_images/btn_plus_hover.png);
}

#zoomOut:hover{
    background-image: url(epaath_images/btn_minus_hover.png);
}