#kStart {
    width: 1200px;
    height: 900px;
    /*background-color:purple;*/
    background-image: url(./epaath_images/bg.png);
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
/*
#kStart #overlay{
    width: 1200px;
    height: 900px;
    z-index:10;
    background-image: url(epaath_images/start_page.png);
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}*/

#kStart .center{
    width: 100%;
    float: left;
    text-align: center;	   
}

#kStart #top{
    height: 15%;
    width: 100%;
    color: blue;
}

	#backBtn{
	    background-image: url(epaath_images/back_button_start.png);
	    position: absolute;
	    width: 60px;
	    height: 60px;
	    margin-top: 10px;
	    margin-left: 10px;
	    opacity: 0.8;
	}

	#backBtn:hover{
	    opacity: 1.0;
	}

	#topMiddle{
	    margin-top: 1%;
	    color: white;
	}

	#topDesc{
	    
	}
	
	#topE-Paath{
	    font-size: 2em;
	    margin-top: 1%;
	}
	


#kStart #middle{
    border: 2px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: white;
    height: 70%;
    width: 90%;
    margin-left: 60px;
    margin-right: 60px;
    position:relative;
    background-color: blue;
    opacity: 0.7;
}

	#grade{
	    margin-top: 0.5em;
	}

		#gradeText{
		    font-size: 2.5em;
		}
		
		#gradeNum{
		    font-size: 2.5em;
		}

	#subject{
	    font-size: 3em;
	}

	#lessonTitle{
	    margin-top: 1em;
	}

	#lessonTitle>a{
	    font-size: 2.5em;
	    color: yellow;
	    text-decoration: none;
	}

	#lessonTitle>a:hover{
	    font-size: 2.7em;
	    opacity: 0.8;
	}


	#lessonDesc{
	    font-size: 2em;
	    margin-top: 0.2em;
	}
	
	#kStart #middle .button{
	    position: absolute;
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    background-color: purple;
	    margin-left: 0.5em;
	    margin-right: 0.5em;
	    margin-bottom: 0.5em;
	    padding-top:0.2em;
	    padding-bottom: 0.2em;
	    padding-left: 0.5em;
	    padding-right: 0.5em;
	    font-size: 1.5em;
	    border: 1px black solid;
	}
	
	#kStart #middle .button:hover{
	    opacity: 0.8;
	}

	#kStart #middle .button a{
		    text-decoration: none;
	}

	#kStart #middle .button div{
	    text-align: center;
	    color: white;
	}
	
	#teachersNoteBtn{
	    left: 0em;
	    bottom: 0em;
	}

	#lessonPlanBtn{
	    right: 0em;
	    bottom: 0em;
	}

#kStart #bottom{
height: 15%;
width: 100%;
color: white;
}

	#logo>div{
	    width: 150px;
	    height: 60px;
	    background-image: url(epaath_images/ole_logo.png);
	    background-repeat: no-repeat;
	    text-align:center;
	    -webkit-background-size: 100% 100%;
	    -moz-background-size:100% 100%;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 0.4em;
	}


#kStart #copyright{
    position: absolute;
    left: 5px;
    bottom: 0px;
    color: white;
    font-size: smaller;
}

	#kStart #copyright a{
	    color: white;
	    opacity:0.8;
	}