.ui-feedback div{
    width: 200px;
    height: 178px;
    position: absolute;
    background-repeat: no-repeat;
}

.ui-feedback .ui-feedback-correct{
    display:none;
    background-image: url(./epaath_images/correct200x190.png);
}

.ui-feedback .ui-feedback-incorrect{
    display:none;
    background-image: url(./epaath_images/incorrect200x190.png);
}

.ui-feedback .ui-feedback-win{
    /*display: none;*/
    width: 184px;
    height: 222px;
    background-image: url(./epaath_images/happy-face.png);
    overflow: visible;
    z-index: 10;
}

.ui-feedback .ui-feedback-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.4);
}