.ui-kFooter{
    background-image: url('./epaath_images/bg_footer.png');
    background-repeat: repeat;
    height: 70px;
    width: 100%;
    margin:0;
    padding: 0;
    float: left;
    clear: both;
    border-style: none;
    color: #FFFF00;
}


.ui-kFooter>ul{
   margin-left: 0px;
   padding-left: 5px;
   list-style: none;
}
.ui-kFooter>ul>li{
    display:inline;
    margin-right: 10px;
    margin-left: 0px;
}


.ui-kFooter .left{
    float: left;
}

.ui-kFooter .right{
    float: right;
}

.ui-kFooter .number{
    background-color:white;
    color: black;
    padding-left:0.4em;
    padding-right:0.4em;
}


.ui-kFooter button{
    cursor:pointer;
    margin-top: -10px;
} 

.ui-kFooter button span{
   float: left;
}

.ui-kFooter button .text{
color:  #FFA000;
padding-top: 10px;
font-weight: bold;
}
