body {
   background: #affafc;
 }

#gamearea{
	float:right;
	width: 664px;
	border: 5px  gold dashed;
	padding: 10px;
}

.dragme {
    width: 160px;
    height: 120px;
	padding: 1px 3px 0px 3px;    /*top right bottom left*/
	cursor: move;
	
}

#imageBar{
	margin-left: 20px;
	margin-top:15px;
	float:left;
	width: 225px;
	height: 495px;
	border: 2px solid red;  
	
}

.imageThumb{
	margin: 5px;
	width:  200px;
	height: 138px;
	border: 2px groove #00FF00;
	padding: 5px;
	margin 1em;
}

.imgMain{
	width: 640px;
	height: 480px;
    float : right;
	padding : 10px;
	visibility: hidden;
	position:relative;
}	
	