@CHARSET "UTF-8";
/****** Page Styles ****/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	background-color: #FFFFCC;
}
#header {
	background-image: url(../assets/image/bg_header.png);
	background-repeat: repeat-x;
	height: 89px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}
#topbtn_left {
	float: left;
	height: 60px;
	width: 60px;
	padding-top: 13px;
	padding-left: 5px;
}
	
	
	#linkBack{
			width: 60px;		height: 59px;
			background:url(../assets/image/btn_back.png);
		}
	#linkBack:hover{
			background:url(../assets/image/btn_back_hover.png);
		}
	
#lesson_title {
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 10px;
	background-image: url(../assets/image/bg_title_block.png);
}
#topbtn_right {
	float: right;
	height: 60px;
	width: 60px;
	padding-top: 13px;
	padding-right: 5px;
}
		#linkHelp{
			width: 60px;		height: 60px;
			background:url(../assets/image/btn_help.png);
		}
		#linkHelp:hover{
			background:url(../assets/image/btn_help_hover.png);
		}
		#linkOle{
			width: 60px;		height: 60px;
			background:url(../assets/image/btn_ole.png);
		}
		#linkOle:hover{
			background:url(../assets/image/btn_ole_hover.png);
		}
		#linkNext{
			width: 60px;		height: 60px;
			background:url(../assets/image/btn_next.png);
		}
		#linkNext:hover{
			background:url(../assets/image/btn_next_hover.png);
		}
#footer {
	background-image: url(../assets/image/bg_footer.png);
	background-repeat: repeat-x;
	position: absolute;
	height: 69px;
	width: 100%;
	left: 0px;
	bottom: 0px;
}
#score_box {
	float: left;
	padding-left: 5px;
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFF00;
	font-size: 16pt;
	font-weight: bold;
}
#botbtn_right {
	float: right;
	height: 55px;
	/*width: 251px;*/
	padding-right: 5px;
	padding-top: 5px;
}	
	#linkCheck{
			width: 187px;			height: 55px;
			background-image: url(../assets/image/check.png);
		}
		
	#linkStart{
			width: 251px;		height: 55px;
			background:url(../assets/image/btn_start.png);
		}
		#linkStart:hover{
			background:url(../assets/image/btn_start_hover.png);
		}
		#linkStart:active{
			background:url(../assets/image/btn_start_mouse_down.png);
		}
		#linkPlayAgain{
			width: 251px;		height: 55px;
			background:url(../assets/image/btn_play_again.png);
		}
		#linkPlayAgain:hover{
			background:url(../assets/image/btn_play_again_hover.png);
		}
		#linkPlayAgain:active{
			background:url(../assets/image/btn_play_again_mouse_down.png);
		}

/**** End of the page style ****/

/**** Game Styles  ****/

a{
	color:#FFFFCC;
}
#currentTitle{
	width: 150px;
	height: 80xp;
	font:25px/30px "Courier New", Courier, monospace;	
	font-weight: bold;
	color: red;
}
#content{	
	margin: 0px auto;
	margin-top: 85px;
	width: 100%;
	height: 400px;

}
	#section{	
		width: 900px;
		height: 400px;
		background: url(../assets/image/background.png);
		margin: 0px auto;		
	}
		
		#alphaCloud1{
			margin: 2px auto;
			width: 400px;
			margin-left: 210px;
			height: 20px;
			padding: 5px;
			text-align:center;
		}
		#alphaCloud2{
			margin: 2px auto;
			width: 400px;
			height: 20px;
			margin-left: 300px;
			padding: 5px;
			text-align:center;
		}
		#topText{
			position:absolute;
			top:28%;
			left: 15%;
			width: 720px;
			height: 50px;			
			color: #2B0085;
			font: 25px/30px "Courier New", Courier, monospace,Arial;
			
		}
		#alphaArrange{
			margin-top: 26px;
			margin-left: 0px;
			width: 245px;
			height: 250px;
			padding: 5px;
			text-align:center;
		}
		.drophover{
			background-color: #FF9900;
		}
		#checkAnswer{
			display:none;
			position:absolute;
			left: 30%;
			bottom: 15%;
			width: 100px;
			height: 92px;
		}
	
		#displayImgArea{
			position:absolute;
			top: 35%;
			right: 10%;			
			width:450px;
			height: 270px;
			

		}
		.imgDisplay{	
			float:left;		
			margin: 0em;
		}
#gameOver{
	display:none;
	position:absolute;
	width: 300px;
	text-align:center;
	top: 40%;
	left: 40%;
	font: 30px/35px Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:red;		
}
#gameOverInfo{
	margin-top: 35px;
	text-align:center;
	font: 20px/25px Helvetica, Geneva, Arial, Verdana, sans-serif;
	font-weight:bold;
	color:#06D946;
	
}