@CHARSET "UTF-8";
body {
  background: url(../assets/image/background.jpg) no-repeat;
  width: 1200px;
  height: 884px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}


#gameArea{
	margin-top:5%;
	margin-left: 10%;
	float: left;
	width: 50%
	padding:10px;
}

#questionBox{
	color: blue;
	width: 300px;
	font: "Helvetica", Verdana, Geneva, Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
	
}
.imageBox{
	margin-top: 25px;
	margin-left: 30px;
	width: 220px;
	height: 220px;
	padding: 10px;
}

#options{
	margin-left:25px;
	margin-top:50px;
	width:600px;
	height:80px;
	padding: 10px;
}

.optImg{
	width:120px;
	height: 40px;
	background-color: yellow;
	padding:5px;
	border: 2px solid green;
}

.playAgain{
	position:absolute;
	top: 10px;
	margin-left:220px;
	width:115px;
	height: 30px;
	padding: 2px 2px 2px 2px;
	}
input{
	color:green;
	
}
#gameOver{
	margin-left:300px;
	width: 180px;
	height: 20px;
	display: none;
	font: 25px "Rockwell Extra Bold", Geneva, Arial, Helvetica, sans-serif,Times New Roman;
	font-weight: bold;
	background-color: #ccc;
	padding: 10px;
}
