@CHARSET "UTF-8";
#kMain {
    background: url(../assets/image/background.png) no-repeat;
    width: 1200px;
    height: 900px;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    float: left;
    clear: both;
}

#questionBox{
	color: blue;
	/*width: 300px; */
	width: 30%;
	font: "Helvetica", Verdana, Geneva, Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
	margin-top: 10%;
	margin-left: 15%;
	
	
}
.imageBox{
	margin-top: 2%;
	margin-left: 20%;
	width: 220px;
	height: 220px;
}

#options{
	margin-left:5%;
	margin-top:2%;
	width:600px;
	height:80px;
}

.optImg{
	width:120px;
	height: 40px;
	background-color: yellow;
	padding:5px;
	border: 2px solid green;
}

.playAgain{
	position:absolute;
	top: 10px;
	margin-left:220px;
	width:115px;
	height: 30px;
	padding: 2px 2px 2px 2px;
	}
input{
	color:green;
	
}
#gameOver{
	margin-left:300px;
	width: 180px;
	height: 20px;
	display: none;
	font: 25px "Rockwell Extra Bold", Geneva, Arial, Helvetica, sans-serif,Times New Roman;
	font-weight: bold;
	background-color: #ccc;
	padding: 10px;
}
