body
{ 
background:#A4A4A4;
margin:0;
padding:0;
}

#subject
{
text-align: center;
font-weight: bold;
font-size: 150%;
}

#lesson_name
{
text-align: center;
font-weight: bold;
font-size: 150%;
}

#teachers_note
{
text-align: center;
font-weight: bold;
font-size: 150%;
width: 50%;
float: left;
}

#lesson_plan
{
text-align: center;
font-weight: bold;
font-size: 150%;
width: 50%;
float: left;
}

#tutorial_link
{
width: 50%;
float: left;
}

#tutorial_link img
{
position: center;
}

#exercise_link
{
width: 50%;
float: left;
}

#exercise_link img
{
position: middle;
}

#lesson
{
width:800px;
position: fixed;
left: 50%;
top: 50%;
margin-left: -400px;
margin-top: -10.75em;
}

#knavbar a:hover {
text-decoration: underline;
outline-width:1px;
outline-style:solid;
}

#tab_support ul
{
list-style: none;
padding: 0;
margin: 0;
}

#knavbar
{
list-style: none;
padding: 0;
margin: 0;
background:#1C1C1C;
float:left;
width:100%;
}

#knavbar li
{
float: left;
}

#knavbar li a
{
height: 75px;
line-height: 2em;
width: 100%;
text-decoration: none;
text-align: center;
font-weight: bold;
float: left;
color:#000000;
}

#knavbar img
{
border: none;
width: 75px;
background: #FFFFFF;
}

#knavbar a:hover {
  text-decoration: underline;
}

#knavbar a.selected {
text-decoration: underline;
}

#welcome
{
background:#D7DF01;
}

#tutorial
{
background:#DF0101;
}

#exercise
{
background:#5FB404;
}

#game
{
background:#045FB4;
}

#support
{
background:#848484;
}

#download
{
background:#848484;
}
