body
{ 
margin:0;
padding:0;
}

#Karma { position: relative; }
#canvasDrawing { position: absolute; top: 0px; left: 0px; }
#canvasTmp { position: absolute; top: 0px; left: 0px; }
.button { position: absolute; top: 0px; left: 0px; }