body
{ 
background: #D8D8D8;
margin:0;
padding:0;
}

#knavbar {
display: table;
width: 800px;
margin: 0 auto;
}

nav
{
list-style: none;
padding: 0;
margin: 0;
float:left;
width:100%;
background: #FFFFFF;
}

nav img
{
border: none;
width: 58px;
}

#welcome
{
padding-left: 1em;
padding-right: 1em;
line-height: 3em;
}

#subject
{
text-align: center;
font-weight: bold;
font-size: 130%;
}

#lesson_name
{
text-align: center;
font-weight: bold;
font-size: 150%;
padding: 0.8em;
}

#welcome_refs
{
text-align: center;
font-weight: bold;
font-size: 150%;
width: 50%;
float: left;
}

#tutorial_link
{
width: 50%;
float: left;
}

#tutorial_link img
{
padding: 2em;

}

#exercise_link
{
width: 50%;
float: left;
}

#exercise_link img
{
padding: 2em;
}

#lesson
{
width:800px;
background: #BDBDBD;
}

#welcome_logo img
{
padding: 2em;
}

img
{
border: none;
}

#lessonTitle
{
display: block;
}

nav a:hover {
text-decoration: underline;
outline-width:1px;
outline-style:solid;
}

nav a.selected {
text-decoration: underline;
background: #BDBDBD;
}

.centeredImage
{
text-align:center;
margin-top:0px;
margin-bottom:0px;
padding:0px;
}

.icon_right
{
float: right;
}

.floatLeft {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
}

.floatRight {
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}