@CHARSET "UTF-8";
body {
  background-color: #ccc;
}


#gameArea{
	margin-top:5%;
	margin-left: 10%;
	float: left;
	width: 60%
	padding:10px;
	
}


#questionBox{
	color: red;
	border: 3px outset #0AF9dd;
	width: 150px;
	padding: 5px;
	background: #2EFEF7;
	font: 20px "Helvetica", Verdana, Geneva, Arial, sans-serif;
	font-weight: bold;
	
}
.imageBox{
	margin-left: 25%;
	margin-top: 25px;
	padding: 10px;
}

.checkedOption{
	position: absolute;
	float:right;
	right: 20%;
	top: 25%;
	
	width:120px;
	height:120px;
	padding: 5px;
}

#options{
	position: absolute;
	margin-left:50px;
	top:80%;
	width:800px;
	height:80px;
	padding: 10px;
}

.optImg{
	padding:5px;
}

#scoreArea{
	margin-left: 10%;
	margin-right: 10%;
	color: red;
	
	padding: 5px;;
	background: #FFFFFF;
	border: 2px solid red;
	background: black;
	padding: 10px;
	font: 18px "Lucida Sans Typewriter",Verdana,Times New Roman;
}
.playAgain{
	position:absolute;
	top: 10px;
	margin-left:60%;
	width:115px;
	height: 30px;
	padding: 2px 2px 2px 2px;
	}
	
input{
	color:green;
	
}
#gameOver{
	margin-left:300px;
	width: 180px;
	height: 20px;
	font: 25px "Rockwell Extra Bold", Geneva, Arial, Helvetica, sans-serif,Times New Roman;
	font-weight: bold;
	background-color: #ccc;
	padding: 10px;
}
