blockquote
{
    border: 2px solid #000; 
    padding: 10px;
}

div.heading
{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.bold
{
    font-weight: bold;
    line-height: 150%;
    font-size: 100%;
}

.table
{
    background:#333;
}

.table ul
{
    float:left;
    margin:0;
    padding:0;
    border:1px solid #C9C9C9;
}

.table ul li
{
    list-style:none;
    padding:5px 10px;
}

.table ul li.title
{
    font-weight:bold;
    background:#333;
    color:#fff;
}

.table ul li.even
{
    background:#FFFFFF
}
