body {
    position: relative;
}

#map {
display:inline;
float:left;
height:100%;
width:60%;
}
#capitals {
height:450px;
width:450px;
}
#side {
display:inline;
float:left;
height:450px;
position:relative;
width:40%;
}
#sideTop {
display:block;
float:left;
width:100%;
}

#alien {
display:block;
float:left;
height:300px;
width:204px;
}
#spaceship {
left:-80px;
position:absolute;
width:100px;
height:205px;
bottom:0px;
}

/* CSS Rules for the capitals SVG image  */
.text { display: none; }
.capital.city { cursor: pointer;}

.spaceship { display: none;}

