body {
    position: relative;
}

#map {
display:inline;
float:left;
height:100%;
width:60%;
}
#capitals {
height:450px;
width:450px;
}
#side {
display:inline;
float:left;
height:450px;
position:relative;
width:40%;
}
#sideTop {
display:block;
float:left;
width:100%;
}

.icon {
    width: 50px;
    height: 50px;
    display: inline;
    float:left;
    padding: 10px;
    cursor: pointer;
}

.iconSVG {
    cursor: pointer;
}

#alien {
display:block;
float:left;
height:300px;
width:204px;
}
#spaceship {
left:-80px;
position:absolute;
width:100px;
height:205px;
bottom:0px;
}

#playAgain { 
    position: absolute;
}

#helpScreen{
    position: absolute;
    z-index:20;
}


/* CSS Rules for SVG images */
.text { display: none; }
.capital.city { cursor: pointer;}

.spaceship { display: none;}

#answerYes,#answerNo{
    cursor: pointer;
} 


