body {
  background-color :  #CCC ;
  background-image:url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 5px auto;
 }
#gameArea{
	width: 1000px;	height: 450px;	padding : 10px;  margin-left: 75px;  margin-top: 12px;

}
#imageArea{
	position:relative;
	width: 180px;
	height:  180px;
	padding: 15px;
	margin: 0.5em;
	float: left;
}

.imgObject{
	position: relative;
	width: 150px;	
	height: 150px;	
	margin: 0.25em; 	
	padding: 5px;
}


.dropBox{

	background-image:url(../assets/images/drop_box.png) ;
	width: 119px;	
	height: 33px;	
	margin: 0.25em;
	padding: 2px;
}



#optionArea{
	position: absolute;
	width: 980px;	height: 40px;	padding : 2px;  left: 75px; top: 520px;
	border: 2px solid green;
}
.dragImg{
	width: 110px;	height: 33px;	padding: 2px;	margin: 0.1em;   cursor: move;
}
