body
{ 
background:#A4A4A4;
margin:0;
padding:0;
}

#mainmenu
{
width:40em;
}

#grades
{
list-style: none;
padding: 0;
margin: 0;
background:#FFFFFF;
float:left;
width:auto;
}

#grades li
{
float: left;
}

#grades li a
{
height: auto;
line-height: 2em;
width: 7em;
text-decoration: none;
text-align: center;
font-weight: bold;
float: left;
color:#000000;
}

#grades img
{
border: none;
}

#grades a:hover {
  text-decoration: underline;
}

#grades a.selected {
text-decoration: underline;
}

#admin
{
list-style: none;
padding: 0;
margin: 0;
background:#8A4B08;
float:left;
width:28em;
}

#admin li
{
float: left;
}

#admin li a
{
height: 7em;
line-height: 2em;
width: 9em;
text-decoration: none;
text-align: center;
font-weight: bold;
float: left;
color:#000000;
}

#chakra
{
background: #FFFFFF;
width: 50px;
}

#chakra img
{
float: left;
width: 50px;
height: 50px;
}

#grade-menu
{
list-style: none;
padding: 0;
margin: 0;
background: #585858;
float:left;
width:100%;
}

#grade-menu li
{
float: left;
}

#grade-menu li a
{
height: 7%;
width: 7em;
text-decoration: none;
text-align: center;
font-weight: bold;
float: left;
color:#000000;
}

#grade-menu a:hover {
text-decoration: underline;
}

#grade-menu a.selected {
text-decoration: underline;
}

#lessonlist ul
{
list-style: none;
padding: 0.1em;
float: left;
}

#lessonlist ul li ul
{
float: right;
}

#lessonlist li
{
float: left;
margin: 0 0.15em;
}

#lessonlist
{
#float: left;
}

#lessonlist li a
{
height: 1.5em;
line-height: 1.5em;
width: 1.5em;
display: block;
border: 0.1em solid #dcdce9;
color: #0d2474;
text-decoration: none;
text-align: center;
background: #BDBDBD;
}

#lessons a:hover {
background:#FFFFFF;
border-bottom:1px solid #dcdce9;
text-decoration: underline;
}

#lessons a.selected {
background:#FFFFFF;
color:#CC0000;
font-weight:bold;
text-decoration: underline;
}

#weeks
{
background: #A4A4A4;
float: left;
width: 26%;
}

#lesson_select
{
width: 74%;
height: 100%;
background: #BDBDBD;
float: left;
text-align: center;
}

#topleft_lesson
{
float: left;
width: 50%;
}

#topright_lesson
{
float: left;
width: 50%;
}

#bottomleft_lesson
{
float: left;
width: 50%;
}

#bottomright_lesson
{
float: left;
width: 50%;
}

#lesson_list
{
padding: 0.4em;
}

#lesson_item
{
height: 15em;
background: #848484;
}

#lesson_separator
{
height: 0.5em;
}

#name a
{
font-size: 150%;
font-weight: bold;
}

#name img
{
float: right;
padding: 0.5em;
}

#grade_week a
{
font-size: 120%;
}

#menu_assessment a
{
}

#docs
{
}
