@CHARSET "UTF-8";
/****** Page Styles ****/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	background-color: #FFFFCC;
}
#header {
	background-image: url(../assets/image/bg_header.png);
	background-repeat: repeat-x;
	height: 89px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}
#topbtn_left {
	float: left;
	height: 60px;
	width: 60px;
	padding-top: 13px;
	padding-left: 5px;
}
	
	
	#linkBack{
			width: 60px;		height: 59px;
			background:url(../assets/image/btn_back.png);
		}
	#linkBack:hover{
			background:url(../assets/image/btn_back_hover.png);
		}
	
#lesson_title {
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 10px;
	background-image: url(../assets/image/bg_title_block.png);
}
#topbtn_right {
	float: right;
	height: 60px;
	width: 60px;
	padding-top: 13px;
	padding-right: 5px;
}
		#linkHelp{
			width: 60px;		height: 60px;
			background:url(../assets/image/btn_help.png);
		}bgCalculation
		#linkHelp:hover{
			background:url(../assets/image/btn_help_hover.png);
		}
		#linkOle{
			width: 60px;		height: 60px;
			background:url(../assets/image/btn_ole.png);
		}
		#linkOle:hover{
			background:url(../assets/image/btn_ole_hover.png);
		}
		#linkNext{
			width: 60px;		height: 60px;
			background:url(../assets/image/btn_next.png);
		}
		#linkNext:hover{
			background:url(../assets/image/btn_next_hover.png);
		}
#footer {
	background-image: url(../assets/image/bg_footer.png);
	background-repeat: repeat-x;
	position: abbgCalculationsolute;
	height: 69px;
	width: 100%;
	left: 0px;
	bottom: 0px;
}
#score_box {
	float: left;
	padding-left: 5px;
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFF00;
	font-size: 16pt;
	font-weight: bold;
}
#botbtn_right {
	float: right;
	height: 55px;
	/*width: 25bgCalculation1px;*/
	padding-right: 5px;
	padding-top: 5px;
}	
	#linkCheck{
			margin: 1em 3em 0 0;
			width: 101px;			height: 30px;
			background-image: url(../assets/image/check.png);
		}
		
	#linkStart{
			width: 251px;		height: 55px;
			background:url(../assets/image/btn_start.png);
		}
		#linkStart:hover{
			background:url(../assets/image/btn_start_hover.png);
		}
		#linkStart:active{
			background:url(../assets/image/btn_start_mouse_down.png);
		}
		#linkPlayAgain{
			width: 251px;		height: 55px;
			background:url(../assets/image/btn_play_again.png);
		}
		#linkPlayAgain:hover{
			background:url(../assets/image/btn_play_again_hover.png);
		}
		#linkPlayAgain:active{
			background:url(../assets/image/btn_play_again_mouse_down.png);
		}

/**** End of the page style ****/

/**** Game Styles  ****/

a{
	color:#FFFFCC;
}
#currentTitle{
	width: 150px;
	height: 80xp;
	font:25px/30px "Courier New", Courier, monospace;	
	font-weight: bold;
	color: red;
}
#content{	
	margin: 0 auto;
	margin-top: 85px;
	width: 95%;
	padding: 0.5em;
	height: 375px;
}
	#section{	
		width: 900px;
		height: 400px;
		margin: 0 auto;		
	}
	
		#left-side{
			padding-top: 80px;
			margin: 0em auto;
			float:left;
			width: 360px;
			height: 285px;
			border: 2px solid black;
			text-align:center;
			background: url(../assets/image/bgLeft.png);
			-moz-border-radius : 20px;
			-webkit-border-radius : 20px;
			border-radius : 20px;
		}

		#right-side{
			float:right;
			width: 383px;
			height: 365px;
			border: 2px solid black;			
			-moz-border-radius : 20px;
			-webkit-border-radius : 20px;
			border-radius : 20px;
			background-color: #7FFFC9;
			
			}
			
			#rightBack{
				background-repeat: no-repeat;	
				width: 383px;
				height: 365px;
			}
			
			.bgCalculation{
				position:absolute;
				top: 58%;
				right: 8%;
				padding-top: 5px;
				width: 360px;
				height: 90px;
				text-align:center;
				
			}
		
		#textQues1{
			float:right;
			width: 300px;
			height:30px;
			letter-spacing: 5px;
			font: 20px/25px Verdana, Geneva, Arial, Helvetica, sans-serif;
			padding-right: 20px;
			
			text-align:right;	 
		}
		#textQues2{
			float:right;
			width: 350px;
			height:30px;
			letter-spacing: 5px;
			text-align:right;	
			font: 20px/25px Verdana, Geneva, Arial, Helvetica, sans-serif; 
			padding-right: 15px;
		}
		#textQues3{
			margin-top: 5px;
			float:right;
			text-align:right;			
			width: 300px;
			height: 30px;
			padding-right: 15px;
		}
		.blankBoxes{
			padding-left: 15px;
			width: 35px;
			height: 40px;
			border-bottom : 2px solid black;
			font: 20px/25px Verdana, Geneva, Arial, Helvetica, sans-serif; 
		}
		.quesText{			
			font: 20px/25px Verdana, Geneva, Arial, Helvetica, sans-serif;
			color: #000000;
		}
		input.textBox{
			size:3;
			font: 15px/20px Verdana, Geneva, Arial, Helvetica, sans-serif; 
			font-weight: bold;
			height:20px;
			width: 30px;
			text-align:center;
		}
		.focus {
		     background-color: #FFEEAA;
		}
		.correct{
			background-color: #C0F9F3;
		}
		.incorrect{
			background-color: #FFFF00;
		}
		
		#help{
			display:none;
			position:absolute;
			right: 20%;
			top: 1%;
			width: 224px;
			height: 525px;
			background:url(../assets/image/help.png);
			z-index:40;
		}
		.backOpaque{
			background-color: #A4A4A4;
			opacity: 0.2;
		}
	#gameOver{
		display:none;
		position:absolute;
		top: 40%;
		left: 25%;	
		width: 432px;
		height: 68px;
		background: url('../assets/image/gameOver.png');	
	}