.ui-scoreboard-container-h{
max-width: 800em;
max-height: 200px;
float:left;
padding-top:0.4em;
padding-bottom:0.4em;
}

.ui-scoreboard-spacing-h{
max-width: 200em;
max-height: 300em;
display:inline;
margin-left:0.2em; 
margin-right:0.4em;
}

.ui-scoreboard-text{
font-size:larger;
text-align: center;
}

.ui-scoreboard-number-h {
background-color:black;
color: white; 
padding-left:0.4em;
padding-right:0.4em;
font-size:larger;
}

.ui-scoreboard-button{
float:right;
cursor:pointer;
}

button .ui-scoreboard-icon{
float: left; 
margin-right:0.3em;
}
.ui-scoreboard-container-v{
max-width: 200px;
max-height: 400px;
float:left;
padding-top:0.4em;
padding-bottom:0.4em;
}
.ui-scoreboard-spacing-v{
display:block;
margin: 0.4em;
}

.ui-scoreboard-number-v{
background-color:black;
color: white; 
width: 1em;
text-align:center;
margin-left:auto;
margin-right: auto; 
padding:0.4em;
font-size:larger;
}


