#karma-main { 
	position: relative; 
	/*background-image: url('../assets/generic/images/bg.png');*/
	width: 1200px;
	height: 800px;
}
canvas {
	border: 2px solid #cccccc;
	image-rendering:  optimizeSpeed;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}


