#main {
    position: absolute;
    height: 100%;
    width: 100%;
}

#action {
    height: 100%;
    width: 70%;
    float: left;
}

#sidebar {
    background:blue none repeat scroll 0 0;
    float:left;
    height:100%;
    width:30%;
}

#actionTop {
    height:50%;
    width: 100%;
    float: left;
}
#actionBottom {
    height:50%;
    width: 100%;
    float: left;
    clear: both;
}

#actionTopLeft {
    width:40%;
    height:100%;
    background:yellow;
    float:left;
}

#actionTopMiddle {
    width:20%;
    height:100%;
    background:red;
    float:left;
}

#actionTopRight {
    width:40%;
    height:100%;
    background:green;
    float:left;
}



#actionBottomLeft {
    float:left;
    width:33.3%;
    height:100%;
    background:yellow;
}


#actionBottomMiddle {
    float:left;
    width:33.3%;
    height:100%;
    background:red;
}


#actionBottomRight {
    float:left;
    width:33.3%;
    height:100%;
    background:green;
}

#actionTopLeftBox {
    position: absolute;
    right: 10%;
    bottom: 20%
    height:  40%;
    width: 40%;
    background: blue;
}

#actionTopLeftCanvas {
    position: absolute;
    right: 10%;


}
