#mainmain {
    position: absolute;
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 70%;
    float: left;
}

#mainTop {
    height:50%;
    width:100%;
}
#mainBottom {
    height:50%;
    width:100%;
}
#sidebar {
    background:blue none repeat scroll 0 0;
    float:left;
    height:100%;
    width:30%;
}
#mainTopLeft {
    width:40%;
    height:100%;
    background:yellow;
    float:left;
}

#mainTopMiddle {
    width:20%;
    height:100%;
    background:red;
    float:left;
}

#mainTopRight {
    width:40%;
    height:100%;
    background:green;
    float:left;
}



#mainBottomLeft {
    float:left;
    width:33.3%;
    height:100%;
    background:yellow;
}


#mainBottomMiddle {
    float:left;
    width:33.3%;
    height:100%;
    background:red;
}


#mainBottomRight {
    float:left;
    width:33.3%;
    height:100%;
    background:green;
}