<html lang="en">

<head>
<title>Chakra (Alpha)</title>
<meta name="keywords" content="karma,javascript,html5,sugar,sugarlabs,gsoc,ole,nepal">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">

<link rel="stylesheet" href="../css/chakra.css" type="text/css"/>

</head>

<body>

<div id="lesson_list">

<div id="lesson_item">
<div id="name"><a href=""></a><img src="testdata/preview.jpg"/></div>
<div id="grade_week"></div>
<div id="docs"><a href="">Teacher's Notes</a> <a href="">Lesson Plan</a></div>
</div>



</div>

</body>
</html>