
#main {
width:800px;
height:600px;
position:absolute;
}
#action {
float:left;
position:relative;
width: 650px;
height: 600px;

}
#sidebar {
background-image: url(../assets/generic/images/sidebar.png);
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:none none repeat scroll 0 0;
float:left;
height:600px;
position:relative;
width:150px;
}
#actionTop {
width: 650px;
height: 300px;
position:relative;
}
#bottom {
clear:both;
float:left;
width: 650px;
height: 300px;
position:relative;
}
#topLtSide {
float:left;
width: 300px;
height: 300px;
position:relative;
}
#topMd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:none none repeat scroll 0 0;
float:left;
width: 50px;
height: 300px;
position:relative;
}
#topRtSide {
float:left;
width: 300px;
height:300px;
position:relative;
}
#topLtBox {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:none none repeat scroll 0 0;
width: 200px;
height: 200px;
left: 75px;
position:absolute;
top:50px;
}

#topLtCanvas {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:none none repeat scroll 0 0;
position:absolute;
top: 50px;
left: 75px;
}
#plussign {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}
#topRtBox {
background: none none repeat scroll 0 0;
width: 200px;
height: 200px;
position:absolute;
right: 50px;
top: 50px;
}
#topRtCanvas {
background:none none repeat scroll 0 0;
position:absolute;
left: 50px;
right:50px;
top:50px;
}

.bottom {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:none none repeat scroll 0 0;
float:left;
width: 216.5px;
height: 300px;
position:relative;
}

.bottomBox {
    left:25px;
    position:absolute;
    width: 200px;
    height: 200px;
    top: 20px;
}

.sidebarItem {
    clear:both;
    float:left;
    width:150px;
    height: 200px;
    position: relative;
}

#timer {
position:absolute;
width:100px;
height:150px;
top:10px;
left:25px;
}

#timerCanvas {
position:absolute;
width:100px;
height:150px;
top:10px;
left:25px;
}

#scorebox {
position:absolute;
width:100px;
height:150px;
top:10px;
left:25px;
}

#scoreboxCanvas {
position:absolute;
width:100px;
height:150px;
top:10px;
left:25px;
}


#chimpCanvas {
position:absolute;
top:10px;
left:25px;

}

#buttons {
position:absolute;
top:80%;
}

